.menu__link {
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
   
    transition: color var(--transition-time) var(--timing-function);
    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}
